# Directories to ignore
# when building the Docker image
.azure-pipelines
.vscode
.git
node_modules
src/tests
test-results
assets
environment
evidencias
scripts

# Files to ignore
# when building the Docker image
.babelrc
.dockerignore
.gitignore
azure-pipelines.yml
Dockerfile
eslint.config.js
jest.config.mjs
package-lock.json
sonar-project.properties
*.log
*.test.js
*.md
